@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "dune_rise";
    src: url("../../public/fonts/dune_rise.otf");

}

@font-face {
    font-family: "neuropolitical";
    src: url("../../public/fonts/neuropolitical.otf");
}



[x-cloak] {
    display: none;
}

:root {
    --swiper-navigation-color: #fafafa;
    --swiper-pagination-color: #fafafa;
}

